@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors*/

:root {
	--stripe-width: 35px;
	--color-green-stripe-1: #A6FFAF;
	--color-green-stripe-2: #91FaA1;
	--color-yellow: #ffcd28;
	--color-fucsia: #FFA6F6;
}


.bg-fucsia {
	background-color: var(--color-fucsia);
}

.bg-yellow {
	background-color: var(--color-yellow);
}

.bg-paper {
    background-image: url('../src/assets/paper.png');
    background-repeat: repeat;
	
}   

body {
	min-height: 100vh;
	width: 100%;
	font-weight: 600;

	background-image: repeating-linear-gradient(
		-40deg, 
		var(--color-green-stripe-1) 0,
		var(--color-green-stripe-1) var(--stripe-width),
		var(--color-green-stripe-2) var(--stripe-width),
		var(--color-green-stripe-2) calc(2 * var(--stripe-width))
	)



}

.bg-dots {
   
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%00000"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>');
  /* background-color:c #ffcd28; */
  background-image-opacity: 0.8;
  background-size: 13px, 100%;


}										